services:
  SERVICE_NAME:
    build:
      context: .
      dockerfile: Dockerfile
    image: DOCKER_USERNAME/SERVICE_NAME:DOCKER_VERSION
    ports:
      - "PORT_EXP:1605"
    restart: always
    environment:
      - JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF8
    volumes:
      - ./application.properties:/app/application.properties  # Monta el archivo de configuración local
    networks:
      - ENV_DOCKER_NETWORK

networks:
  ENV_DOCKER_NETWORK:
    driver: bridge
